.tools_holder {
  display: inline;
}
.tools_holder .tools_heading {
  float: left;
  margin-left: 17%;
  margin-top: 100px;
  position: absolute;
  color: #00609C;
  font-size: 28px;
  flex-wrap: wrap;
}
.tools_holder .tools_box_holder {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.tools_holder .tools_box_holder .tool_box {
  background-color: #eee;
  margin-top: 150px;
  margin-bottom: 150px;
  margin-right: 10px;
  width: 530px;
  text-align: left;
}
.tools_holder .tools_box_holder .tool_box div {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.tools_holder .tools_box_holder .tool_box div h2 {
  font-size: 28px;
  color: #00609C;
}
.tools_holder .tools_box_holder .tool_box div p {
  font-size: 16px;
}
.tools_holder .tools_box_holder .tool_box div a {
  color: #C017A2;
  text-decoration: none;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .tools_holder .tools_heading {
    margin-top: 50px;
    font-size: 125%;
  }
  .tools_holder .tools_box_holder {
    flex-direction: column;
  }
  .tools_holder .tools_box_holder .tool_box {
    width: 80%;
    margin-bottom: 100px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
  }
  .tools_holder .tools_box_holder .tool_box img {
    width: 100%;
  }
}